body {
  font-family: sans-serif;
  text-align: center;
  background: #f9f9f9;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 3px;
  margin: 50px auto;
  width: max-content;
  background: #ccc;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border: 1px solid #999;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cell:hover {
  background-color: #b3d4fc;
}

.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: white;
}
#new-game {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}
